.header {
    background-color: bisque;
}

.nav_bar {
    background-color: orange;
}

.media {
    background-color: aqua;
}

.attendance-container {
    background-color: green;
}

.agenda {
    background-color: red;
}

#last-meeting {
    background-color: blue;
}

#this-meeting {
    background-color: azure;
}

#reminders {
    background-color: blanchedalmond;
}

#feedback {
    background-color: aquamarine;
}