/* 
NOTES:
* Margin changes the distance from top of entire html element (the box its contained in)
* Padding adjusts the distance of an html element from the edge of the "box"
* Border adjusts the edges of the "box"
*/


/* Putting header into a flex box to align everything in a row*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

/* Div containing session # and date */
.data {
    display: flex;
    padding-right: 2%;
}

/* Session and date are the headings. Appied a relative position to ensure they can
   move around */
#session {
    position: relative;
}

#date {
    position: relative;
    margin-left: 2em;
}

.nav_bar {
    background-color: orange;
}

.media {
    background-color: aqua;
}

.attendance-container {
    background-color: green;
}

.agenda {
    background-color: red;
}

#last-meeting {
    background-color: blue;
}

#this-meeting {
    background-color: azure;
}

#reminders {
    background-color: blanchedalmond;
}

#feedback {
    background-color: aquamarine;
}
