/* 
NOTES:
* Margin changes the distance from top of entire html element (the box its contained in)
* Padding adjusts the distance of an html element from the edge of the "box"
* Border adjusts the edges of the "box"
*/

@font-face {
    font-family: "Nunito";
    src: url("./Nunito/Nunito-VariableFont_wght.ttf");
}

* {
    font-family: "Nunito";
}

p {
    margin-left: 5%;
    margin-top: -1rem;
}

/* Putting header into a flex box to align everything in a row*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;

}

/* Div containing session # and date */
.data {
    display: flex;
    padding-right: 2%;
}

/* Session and date are the headings. Appied a relative position to ensure they can
   move around */
#session {
    position: relative;
}

#date {
    position: relative;
    margin-left: 2em;
}

.nav_bar {
    padding-left: 80%;
    position: -webkit-sticky;
    position: sticky;
    background-color: #f0ffff;
    top: 0;
    border-style: solid;
    border-color: rgb(167, 214, 255);
    border-width: 3px;
    border-radius: 3cm;
}

.media + .hidden {
    display: none;
    margin: 30px 30px 30px 30px;
}

.media {
    display: inline-block;
    padding-bottom: 12pt;
    padding-top: 12pt;
}

.audio {
    margin-right: 100px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-top: 200px;
    position: absolute;
}


.media > .video {
    padding: 100px 30px 30px 60%;
}



.media > .video > #myself {
    height: 50%;
    width: 50%;
    max-width: 50%;
    max-height: 50%;
}

a[href*=".gif"] {
    color:rgb(255, 0, 179);
}

.feedback-fields {
    display: grid;
    background-color: blanchedalmond;
    border-style: solid;
    border-color: burlywood;
    grid-template-columns: auto auto auto;
}

#realform {
    display: grid;
    grid-template-columns: auto auto auto;
}

.feedback-from ~ footer {
    text-decoration: dashed;
}
